<div class="container mt-3 ">
  
  <form [formGroup]="employeeForm" (ngSubmit)="insertEmployee(employeeForm.value)" class="add_record">
  <h2 style="text-align: center;">Add Records</h2>
  <div class="mb-3 mt-3">
    <label for="fname" class="form-label">First Name:</label>
    <input type="text" class="form-control" formControlName="FName" placeholder="First Name" >
  </div>
  <div class="mb-3 mt-3">
    <label for="lname" class="form-label">Last Name:</label>
    <input type="text" class="form-control"formControlName="LName" placeholder="Last Name" >
  </div>
  <div class="mb-3 mt-3">
    <label for="lname" class="form-label">Country:</label>
    <input type="text" class="form-control" formControlName="Country" placeholder="Country" >
  </div>
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" formControlName="Email" placeholder="Enter email" >
    </div>
    <button type="submit" class="btn btn-primary">Submit </button>&nbsp;
  </form>
</div>